#u3278 {
  background-color: transparent;
  border-radius: 50%;
}

#u3298-4 {
  background-color: transparent;
  line-height: 21px;
  text-align: center;
  font-size: 12px;
  font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
  font-weight: normal;
}

#u3300-4, #u3304-4 {
  background-color: transparent;
  line-height: 25px;
  text-align: center;
  font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
  font-weight: normal;
}

#u3299, #u3296, #u3302, #u3305 {
  border-width: 0px;
  border-color: transparent;
  background-color: transparent;
}

#u3301, #u3297, #u3303, #u3306 {
  background-color: #FFFFFF;
}

#u3307-4 {
  background-color: transparent;
  line-height: 23px;
  text-align: center;
  font-size: 13px;
  font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
  font-weight: normal;
}

#u3276, #u3280, #u3282, #u3284, #u3286, #u3288, #u3290, #u3292, #u3294 {
  background-color: transparent;
}